.App {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.meal-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Footer{
  text-align: center;
}

.learn-more{
  background-color: rgb(250, 158, 13);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px 35px;
  margin: 20px;
}